.container-fluid{
  background-color: white;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Regular */
}

p{
  text-align: justify;
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 767px) {
  p{
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
  }
}

.btn-organic{
  background-color: #2E2E2E;
  color: white;
  border-radius: 5px;
}
.btn-organic:hover{
  background-color: #E63946;
  color: white;
}

.btn-inorganic{
  background-color: #2E2E2E;
  color: white;
  border-radius: 5px;
}
.btn-inorganic:hover{
  background-color: #E63946;
  color: white;
}

@media (max-width: 767px){
  .btn{
    width: 100%;
    text-align: start;
  }
}